<div class="col-md-12">
    <button (click)="goBack()">Go Back</button>
    <h1>{{users.first_name}}'s Details</h1>
    <p>You're logged in with JWT!! - USER</p>
    <div>
        Users from secure api end point:
                  <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>        
        </tfoot>
        <tbody>
            <tr >
                <td >{{users.first_name}} </td>
                 <td>{{users.last_name}}</td>
                <td>{{users.email}}</td>
                 <td><a type="button"  [routerLink]="['/detail', users.id]" class="btn btn-default">[button]</a>
</td>
            </tr>
           
        </tbody>
    </table>


    
    
  
</div>

    </div>
    <p><a [routerLink]="['/login']">Logout</a></p>
 